{% extends "admin/base.html" %}

{% block title %}Polls Admin{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">Polls Administration</a>
</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
    #header {
        background: #1a1a2e;
        color: #e94560;
    }
    #header a:link, #header a:visited {
        color: #e94560;
    }
    #branding h1 {
        color: #e94560;
    }
    .module h2, .module caption, .inline-group h2 {
        background: #16213e;
    }
</style>
{% endblock %}
```

---

For **renaming admin to pollsadmin**, run this in your terminal:
```
py manage.py changepassword admin